#root {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.watches{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.watch{
  display: flex;
  margin: .5rem;
  width: 100%;
  border: 1px solid grey;
}
.data{
  margin-left: 2rem;
  font-size: 1.2rem;
}
