#root {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filter{
  display: flex;
  justify-content: space-between;
}
.watches{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.watch{
  display: flex;
  margin: .5rem;
  border: 1px solid grey;
}
.data{
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  place-items: start;
  margin: 2rem;
  font-size: 1.2rem;
}
.item_price{
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
  /* border: 1px solid red; */
}
.watch_price{
  margin-right: 2rem;
}
.count_price{
  margin-left: 2rem;
}
